@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('./styles/reset.css');

:root {
    --branco-principal: #ffffff;
    --cinza-secundario: #c0c0c0;
    --botao-azul: #167BF7;
    --botao-efeito: #ec2f46;
    --cor-de-fundo: #00030C;
    --fonte-principal: "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-weight: 400;
}

.principal {
    background-image: url("/assets/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__caixa {
    margin: 0 6em;
}

.container__titulo {
    font-family: var(--fonte-principal);
    font-weight: 700;
    font-size: 1.75rem;
    color: var(--branco-principal);
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__botao {
    background-color: var(--botao-azul);
    font-family: var(--fonte-principal);
    color: var(--branco-principal);
    font-size: 1rem;
    text-decoration: none;
    border-radius: 0.5rem;
    padding: 1em;
    margin: 1em;
    display: block;
}

.container__botao:hover {
    background-color: var(--botao-efeito);
}

.botao__secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);

}

.botao__secundario:hover {
    background-color: transparent;
    border: 2px solid var(--botao-efeito);

}

.secundario__botao {
    background-color: var(--botao-azul);
    font-family: var(--fonte-principal);
    color: var(--branco-principal);
    font-size: 1rem;
    display: inline-block;
    margin-top: 1em;
}



.container__aviso {
    font-family: var(--fonte-principal);
    font-size: 0.75rem;
    color: var(--cinza-secundario)
}

.container__descricao {
    padding: 2em;
}

.secundario {
    align-items: center;
    margin: 0 8em;
    font-family: var(--fonte-principal);
}

.secundario__imagem {
    width: 80%;
}

.descricao__titulo {
    color: var(--branco-principal);
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 0.1em;
}

.descricao__texto {
    color: var(--cinza-secundario);
    font-size: 1rem;
    font-weight: 400;
}

.dispositivos {
    text-align: center;
    font-family: var(--fonte-principal);
    font-weight: 700;

}

.dispositivos__titulo {
    font-size: 3rem;
    color: var(--branco-principal)
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.lista__item {
    font-size: 2rem;
    color: var(--branco-principal)
}

.rodape {
    text-align: center;
    margin: 5em 5em;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    margin-left: 1em;
    margin-right: 1em;
    gap: 1em;
    font-family: var(--fonte-principal);
    list-style-type: none;


}

.rodape__lista__link a {
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    color: var(--branco-principal);
    margin-left: 1em;
}

.rodape__lista__link a:hover {
    color: var(--botao-azul);
}

.rodape__lista__link a:active {
    color: var(--botao-efeito);
}

.rodape__texto {
    text-align: center;
    margin: 1em 1em;
    font-family: var(--fonte-principal);
    color: var(--cinza-secundario);
    font-size: 0.87rem;
}

.rodape__logo {
    align-content: center;
    margin-bottom: 2em;
}

@media (max-width: 500px) {
    .principal {
        height: 50vh;
    }

    .container__titulo {
        margin-top: 2em;
        font-size: 0.875rem;
    }

    .container__caixa {
        margin: 0 3em;
    }

    .container__imagem {
        margin: 10%em 0;

    }
